# Android Studio / IntelliJ
*.iml
.idea/
.gradle/
local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Build outputs
/build/
/app/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_

# Firebase - NUNCA subir
google-services.json

# Keystore
*.jks
*.keystore

# Mac OS
.DS_Store

# Logs
*.log

# Compiled class file
*.class
